<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--允许 JDBC 支持自动生成主键-->
        <setting name="useGeneratedKeys" value="false"/>
        <!--是否开启自动驼峰命名规则（camel case）映射，即从经典数据库列名 A_COLUMN 到经典
 Java 属性名 aColumn 的类似映射。 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
            <!-- 打开延迟加载的开关 -->
            <setting name="lazyLoadingEnabled" value="false"/>
            <!-- 将积极加载改为消极加载(及按需加载) -->
            <setting name="aggressiveLazyLoading" value="false"/>

    </settings>
    <typeAliases>
        <typeAlias alias="User" type="cn.niit.group5.entity.User"/>
        <typeAlias alias="Question" type="cn.niit.group5.entity.Question"/>
        <typeAlias alias="Reply" type="cn.niit.group5.entity.Reply"/>
        <typeAlias alias="Exchange" type="cn.niit.group5.entity.Exchange"/>
        <typeAlias alias="SupplyBuy" type="cn.niit.group5.entity.SupplyBuy"/>
        <typeAlias alias="News" type="cn.niit.group5.entity.News"/>
        <typeAlias alias="Video" type="cn.niit.group5.entity.Video"/>
        <typeAlias alias="Address" type="cn.niit.group5.entity.Address"/>
        <typeAlias alias="Expert" type="cn.niit.group5.entity.Expert"/>
        <typeAlias alias="ExpertQuestion" type="cn.niit.group5.entity.ExpertQuestion"/>
        <typeAlias alias="ExpertReply" type="cn.niit.group5.entity.ExpertReply"/>
        <typeAlias alias="ExpertGrade" type="cn.niit.group5.entity.ExpertGrade"/>
        <typeAlias alias="Seed" type="cn.niit.group5.entity.Seed"/>
        <typeAlias alias="Seed" type="cn.niit.group5.entity.Seed"/>
        <typeAlias alias="Advertise" type="cn.niit.group5.entity.Advertise"/>
<!--        <typeAlias alias="Collection" type="cn.niit.group5.entity.Collection"/>-->
    </typeAliases>


</configuration>
