<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.niit.group5.mapper.CollectionMapper" >
  <resultMap id="BaseResultMap" type="cn.niit.group5.entity.Collection" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="exchange_id" property="exchangeId" jdbcType="INTEGER" />
    <result column="news_id" property="newsId" jdbcType="INTEGER" />
    <result column="video" property="video" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>


<insert id="collectQuestion" parameterType="cn.niit.group5.entity.Collection">
  INSERT INTO t_collection(user_id,question_id) VALUES (#{userId},#{questionId})
</insert>

  <insert id="collectExchange" parameterType="cn.niit.group5.entity.Collection">
  INSERT INTO t_collection(user_id,exchange_id) VALUES (#{userId},#{exchangeId})
</insert>

  <insert id="collectNews" parameterType="cn.niit.group5.entity.Collection">
    INSERT INTO t_collection(user_id,news_id) VALUES (#{userId},#{newsId})
  </insert>

  <insert id="collectVideo" parameterType="cn.niit.group5.entity.Collection">
    INSERT INTO t_collection(user_id,video) VALUES (#{userId},#{video})
  </insert>

  <select id="getCollectQuestionById"  parameterType="Integer"  resultMap="collectionRM">
    SELECT c.id,c.user_id,c.question_id,q.id qid,q.user_id
    quid,q.content,q.create_time,q.sort,q.img,q.address_id,q.address,
	u.id uid,u.user_name,u.head_url,u.user_address,u.identity
	 FROM t_collection c,t_question q,t_user u
	WHERE c.user_id=#{userId}
	AND q.user_id=u.id
	AND c.question_id=q.id
	and c.status=0
  </select>

  <resultMap id="collectionRM" type="cn.niit.group5.entity.Collection">
    <id column="id" property="id"/>
   <result column="user_id" property="userId"/>
    <result column="question_id" property="questionId"/>


    <association property="question" javaType="Question">
      <id column="qid" property="id"/>
      <result column="quid" property="userId"/>
      <result column="content" property="content"/>
      <result column="create_time" property="createTime"/>
      <result column="sort" property="sort"/>
      <result column="img" property="img"/>
      <result column="address_id" property="addressId"/>
      <association property="replyAmount" column="id" select="cn.niit.group5.mapper.QuestionMapper.getQuestionReplyNumber">
      </association>
      <association property="user" javaType="User">
        <id column="uid" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="user_address" property="userAddress"/>
        <result column="identity" property="identity"/>
        <result column="head_url" property="headUrl"/>
      </association>
    </association>

  </resultMap>

  <select id="getCollectExchangeById" resultMap="CollectionRM" parameterType="Integer">
    SELECT c.id,c.user_id,c.exchange_id,e.id eid,e.user_id
    euid,e.img,e.content,e.create_time,e.like,
	u.id uid,u.user_name,u.user_address,u.identity,u.head_url
	FROM t_collection c,t_exchange e,t_user u
	WHERE c.user_id=#{userId}
	AND e.user_id=u.id
	AND c.exchange_id=e.id
	and c.status=0
  </select>
  <resultMap id="CollectionRM" type="cn.niit.group5.entity.Collection">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="exchange_id" property="exchangeId"/>
    <association property="exchange" javaType="Exchange">
      <id column="eid" property="id"/>
      <result column="euid" property="userId"/>
      <result column="content" property="content"/>
      <result column="create_time" property="createTime"/>
      <result column="img" property="img"/>
      <association property="replyAmount" column="id" select="cn.niit.group5.mapper.ExchangeMapper.getExchangeReplyNumber">
      </association>
      <association property="user" javaType="User">
        <id column="uid" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="user_address" property="userAddress"/>
        <result column="identity" property="identity"/>
        <result column="head_url" property="headUrl"/>
      </association>
    </association>
  </resultMap>

  <select id="getCollectNewsById" parameterType="Integer" resultMap="Collection1RM">
    SELECT c.id,c.user_id,c.news_id,n.id nid,n.title,n.content,n.create_time,n.read_number
    FROM t_collection c,t_news n
    WHERE c.user_id=#{userId}
    AND c.news_id=n.id
    AND n.is_delete=0
  </select>
  <resultMap id="Collection1RM" type="cn.niit.group5.entity.Collection">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="news_id" property="newsId"/>
    <association property="news" javaType="News">
      <id column="nid" property="id"/>
      <result column="title" property="title"/>
      <result column="content" property="content"/>
      <result column="create_time" property="createTime"/>
      <result column="read_number" property="readNumber"/>
    </association>
  </resultMap>
  <select id="getCollectVideoById" parameterType="Integer" resultMap="Collection2RM">
    SELECT c.id,c.user_id,c.video,v.id vid,v.video_title,v.img,v.video_url,v.read_number
FROM t_collection c,t_video v
WHERE c.user_id=#{userId}
AND c.video=v.id
AND v.is_delete=0
  </select>
  <resultMap id="Collection2RM" type="cn.niit.group5.entity.Collection">
    <id column="id" property="id"/>
    <result column="user_id" property="userId"/>
    <result column="video" property="video"/>
    <association property="videos" javaType="Video">
      <id column="vid" property="id"/>
      <result column="video_title" property="videoTitle"/>
      <result column="img" property="img"/>
      <result column="video_url" property="videoUrl"/>
      <result column="read_number" property="readNumber"/>
    </association>
  </resultMap>

  <update id="isNoCollect" parameterType="Integer">
    update t_collection
    <trim prefix="set" >
     <if test="status lt 1">status=1</if>
     <if test="status gt 0">status=0</if>
    </trim>
    where id=#{id}
  </update>

</mapper>