<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.niit.group5.mapper.LikeMapper" >
  <resultMap id="BaseResultMap" type="cn.niit.group5.entity.Like" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="exchange_id" property="exchangeId" jdbcType="INTEGER" />
    <result column="reply_id" property="replyId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_like
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.niit.group5.entity.Like" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_like (user_id, exchange_id, reply_id, 
      `status`)
    values (#{userId,jdbcType=INTEGER}, #{exchangeId,jdbcType=INTEGER}, #{replyId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.niit.group5.entity.Like" >
    update t_like
    set user_id = #{userId,jdbcType=INTEGER},
      exchange_id = #{exchangeId,jdbcType=INTEGER},
      reply_id = #{replyId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, exchange_id, reply_id, `status`
    from t_like
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, exchange_id, reply_id, `status`
    from t_like
  </select>

  <update id="updateStatus" parameterType="Integer">
    update t_like
    <trim prefix="set" >
      <if test="status lt 1">status=1</if>
      <if test="status gt 0">status=0</if>
    </trim>
    where id=#{id}
  </update>
</mapper>