<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.niit.group5.mapper.QuestionMapper">
    <resultMap id="BaseResultMap" type="cn.niit.group5.entity.Question">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="sort" property="sort" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
    </resultMap>
    <select id="getUserById" parameterType="Integer"
           resultType="User">
      SELECT u.*
    FROM t_user u WHERE u.id=#{id}
  </select>

    <select id="getQuestionListByUserId" parameterType="Integer" resultMap="questionListRM">
     SELECT q.* FROM t_question q WHERE q.user_id=#{0}
     and q.is_delete=0
  </select>
    <resultMap id="questionListRM" type="question" extends="BaseResultMap">
        <association property="replyAmount" column="id" select="getReplyAmount">
        </association>
    </resultMap>


    <select id="getReplyAmount" resultType="int">
          SELECT COUNT(question_id) replyAmount FROM t_reply r
  WHERE r.question_id=#{0}
  AND r.is_exchange_reply=0
  AND r.is_delete=0

    </select>

    <insert id="insertQuestion" parameterType="cn.niit.group5.entity.Question"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    INSERT INTO t_question(user_id,content,create_time,sort) VALUES (#{userId},#{content},#{createTime},#{sort})
  </insert>


    <select id="getQuestionList" resultMap="questionRM">
        SELECT q.*
        FROM t_question q
        WHERE q.is_delete=0
    </select>
  <select id="getQuestionDetail" parameterType="Integer" resultMap="questionRM">
    SELECT q.id ,q.content,q.create_time,q.user_id,q.sort
 FROM t_question q
  WHERE q.id=#{0}
  </select>
    <resultMap id="questionRM" type="Question" extends="BaseResultMap">
        <association property="user" select="getUserById" column="user_id">
        </association>
        <association property="replyAmount" column="id" select="getQuestionReplyNumber">
        </association>
        <collection property="replies"  select="getRepliesByQuestionId" column="id">
        </collection>
    </resultMap>

    <select id="getRepliesByQuestionId" parameterType="Integer"
            resultMap="cn.niit.group5.mapper.ReplyMapper.BaseResultMap">
  SELECT r.*,u.user_name,u.user_address,u.identity,u.head_url FROM t_reply r,t_user u
        WHERE r.is_delete=0
        AND r.question_id=#{0}
        AND r.user_id=u.id
    </select>


    <select id="getQuestionReplyNumber" resultType="int">
        SELECT COUNT(question_id) replyAmount FROM t_reply r
        WHERE r.question_id=#{0}
        AND r.is_exchange_reply=0
        AND r.is_delete=0
    </select>

</mapper>