<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.niit.group5.mapper.ReplyMapper">

    <select id="getMyReplyById" parameterType="int" resultType="reply">
   select r.content,r.id,r.reply_time,u.head_url,u.user_name,q.id qid,q.content qcon
 from t_reply r,t_user u,t_question q
 where r.question_id=q.id
 and r.user_id=#{0}
</select>

</mapper>