<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.niit.group5.mapper.ReplyMapper">



<resultMap id="BaseResultMap" type="cn.niit.group5.entity.Reply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
    <result column="exchange_id" property="exchangeId" jdbcType="TINYINT" />
    <result column="like" property="like" jdbcType="INTEGER" />
    <result column="is_delete" property="isDelete" jdbcType="TINYINT" />
    <result column="user_address" property="userAddress"/>
    <result column="user_name" property="userName"/>
    <result column="head_url" property="headUrl"/>
    <result column="identity" property="identity"/>
  </resultMap>
    <select id="getMyReplyById" parameterType="Integer" resultMap="myReplyRM">
  SELECT r.id,r.content,r.reply_time,r.user_id ruid,r.question_id rqid
 FROM t_reply r,t_user u,t_question q
 WHERE
 r.user_id=#{0}
 AND r.question_id=q.id
 AND r.user_id=u.id
 AND r.is_delete=0

</select>
   <resultMap id="myReplyRM" type="reply">
       <id column="id" property="id"/>
       <result column="content" property="content"/>
       <result column="reply_time" property="replyTime"/>
       <result column="question_id" property="questionId"/>
       <result column="ruid" property="userId"/>
       <result column="rqid" property="questionId"/>
       <association property="user" select="cn.niit.group5.mapper.QuestionMapper.getUserById"
                    column="ruid">
       </association>
       <association property="question" column="rqid"
                    select="cn.niit.group5.mapper.QuestionMapper.getQuestionDetail"/>
   </resultMap>


    <insert id="insertComment" parameterType="cn.niit.group5.entity.Reply">
    INSERT INTO t_reply(content,user_id,question_id,reply_time) VALUES (#{content},#{userId},#{questionId},#{replyTime})
</insert>
    <insert id="insertComment1" parameterType="cn.niit.group5.entity.Reply">
        INSERT INTO t_reply(content,user_id,exchange_id,reply_time,is_exchange_reply) VALUES
        (#{content},#{userId},#{exchangeId},#{replyTime},#{isExchangeReply})
    </insert>
</mapper>