<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.niit.group5.mapper.UserMapper" >

  <select id="getUserByPhoneNumber" resultMap="BaseResultMap" parameterType="String" >
    select  * from t_user where phone_number=#{phoneNumber} and is_delete=0
  </select>

  <sql id="signUpColumns">
    <trim suffixOverrides=",">
      <if test="phoneNumber!=null">phone_number,</if>
      <if test="password!=null">password,</if>
      <if test="userName!=null">user_name,</if>
      <if test="identity!=null">identity,</if>
      <if test="unitAddress!=null">unit_address,</if>
      <if test="regitsterTime!=null">regitster_time,</if>
      <if test="isForbidden!=null">is_forbidden</if>
    </trim>
  </sql>
  <sql id="signUpValues">
    <trim suffixOverrides=",">
      <if test="phoneNumber!=null">#{phoneNumber},</if>
      <if test="password!=null">#{password},</if>
      <if test="userName!=null">#{userName},</if>
      <if test="identity!=null">#{identity},</if>
      <if test="unitAddress!=null">#{unitAddress},</if>
      <if test="regitsterTime!=null">#{regitsterTime},</if>
      <if test="isForbidden!=null">#{isForbidden}</if>
    </trim>
  </sql>
  <insert id="signUp" parameterType="cn.niit.group5.entity.User">
    insert into t_user(<include refid="signUpColumns"></include>)
    values (<include refid="signUpValues"></include>)
  </insert>
  
  <update id="updateMyMsg" parameterType="User">
    update t_user
    <trim prefix="set" suffixOverrides=",">
      <if test="vocation!=null">vocation=#{vocation},</if>
      <if test="headUrl!=null">head_url=#{headUrl},</if>
      <if test="userName!=null">user_name=#{userName},</if>
      <if test="unitName!=null">unit_name=#{unitName},</if>
      <if test="identity!=null">identity=#{identity},</if>
      <if test="educational!=null">educational=#{educational},</if>
      <if test="userAddress!=null">user_address=#{userAddress},</if>
      <if test="sex!=null">sex=#{sex},</if>
      <if test="email!=null">email=#{email}</if>
    </trim>
    where id=#{id}
  </update>

</mapper>