<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.niit.group5.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="cn.niit.group5.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="regitster_time" property="regitsterTime" jdbcType="DATE"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
<!--        <result column="identity" property="identity" jdbcType="VARCHAR"/>-->
        <result column="user_address" property="userAddress" jdbcType="VARCHAR"/>
        <result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
        <result column="plant_category" property="plantCategory" jdbcType="INTEGER"/>
        <result column="plant_size" property="plantSize" jdbcType="VARCHAR"/>
        <result column="check_all" property="checkAll" jdbcType="INTEGER"/>
        <result column="check_continuous" property="checkContinuous" jdbcType="INTEGER"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
        <result column="educational" property="educational" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="vocation" property="vocation" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="TINYINT"/>
        <result column="head_url" property="headUrl" jdbcType="LONGVARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <select id="getUserByPhoneNumber" resultMap="BaseResultMap" parameterType="String">
    select  * from t_user where phone_number=#{phoneNumber} and is_delete=0
  </select>

    <sql id="signUpColumns">
        <trim suffixOverrides=",">
            <if test="phoneNumber!=null">phone_number,</if>
            <if test="password!=null">password,</if>
            <if test="userName!=null">user_name,</if>
            <if test="identity!=null">identity,</if>
            <if test="userAddress!=null">user_address,</if>
            <if test="regitsterTime!=null">regitster_time,</if>
            <if test="status!=null">status</if>
            <if test="headUrl!=null">head_url</if>
        </trim>
    </sql>

    <sql id="signUpValues">
        <trim suffixOverrides=",">
            <if test="phoneNumber!=null">#{phoneNumber},</if>
            <if test="password!=null">#{password},</if>
            <if test="userName!=null">#{userName},</if>
            <if test="identity!=null">#{identity},</if>
            <if test="userAddress!=null">#{userAddress},</if>
            <if test="regitsterTime!=null">#{regitsterTime},</if>
            <if test="status!=null">#{status}</if>
            <if test="headUrl!=null">#{headUrl}</if>
        </trim>
    </sql>

    <insert id="signUp" parameterType="cn.niit.group5.entity.User">
        insert into t_user(<include refid="signUpColumns"></include>)
        values (<include refid="signUpValues"></include>)
    </insert>

    <update id="updateMyMsg" parameterType="User">
        update t_user
        <trim prefix="set" suffixOverrides=",">
            <if test="vocation!=null">vocation=#{vocation},</if>
            <if test="headUrl!=null">head_url=#{headUrl},</if>
            <if test="userName!=null">user_name=#{userName},</if>
            <if test="unitName!=null">unit_name=#{unitName},</if>
            <if test="identity!=null">identity=#{identity},</if>
            <if test="educational!=null">educational=#{educational},</if>
            <if test="userAddress!=null">user_address=#{userAddress},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="email!=null">email=#{email}</if>
        </trim>
        where id=#{id}
    </update>
    <update id="updateMsg" parameterType="user">

    </update>
    <update id="setStatus" parameterType="Integer">
        UPDATE t_user
        <trim prefix="set">
            <if test="status lt 1">
                status=1
            </if>
            <if test="status gt 0">
                status=0
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <update id="addScore" parameterType="Integer">
  UPDATE t_user
  set score=score+#{number}
  where id=#{id}
</update>

    <insert id="addUser" parameterType="User">
        INSERT INTO  t_user(user_name,sex,head_url,phone_number,email,identity,user_address,regitster_time)
VALUES(#{userName},#{sex},#{headUrl},#{phoneNumber},#{email},#{identity},#{userAddress},#{regitsterTime})
    </insert>

    <select id="getUserListByLog" resultType="cn.niit.group5.entity.User"  >
        select * from t_user
    </select>

    <select id="searchUser" resultMap="BaseResultMap" parameterType="map">
        select u.* from t_user u
        where is_delete=0
        <if test="keyword!=null">
            and concat(u.user_name,u.user_address,u.phone_number) like '%${keyword}%'
        </if>
        limit #{index},#{pageSize}
    </select>
</mapper>