<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.niit.group5.mapper.VideoMapper" >
  <resultMap id="BaseResultMap" type="cn.niit.group5.entity.Video" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="video_title" property="videoTitle" jdbcType="VARCHAR" />
    <result column="relation_module" property="relationModule" jdbcType="INTEGER" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
    <result column="video_sort" property="videoSort" jdbcType="INTEGER" />
    <result column="read_number" property="readNumber" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="review_state" property="reviewState" jdbcType="INTEGER" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectVideo" parameterType="cn.niit.group5.entity.Video" resultMap="BaseResultMap">
    SELECT * FROM t_video WHERE is_delete=0
  </select>
  <select id="selectAllVideo" parameterType="cn.niit.group5.entity.Video" resultMap="BaseResultMap">
    SELECT * FROM t_video WHERE is_delete=0
    limit #{currPage},#{pageSize}
  </select>

  <insert id="addVideo" parameterType="video">
    insert into t_video (video_title,create_time,relation_module,img,video_url)
    values (#{title},#{createTime},#{relation_module},#{img},#{video_url})
  </insert>

  <update id="updateVideoTitle" parameterType="cn.niit.group5.entity.Video">
    update t_video
    set video_title = #{videoTitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

<select id="getVideoBySort" parameterType="video" resultMap="BaseResultMap">
  select * from t_video
  where video_sort=#{videoSort}
   and is_delete=0
</select>
<select id="getVideoByReview" parameterType="video" resultMap="BaseResultMap">
  select * from t_video
  where review_state=#{reviewState}
   and is_delete=0
   limit #{currPage},#{pageSize}
</select>
</mapper>