<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.niit.group5.mapper.VideoSortMapper" >
  <resultMap id="BaseResultMap" type="cn.niit.group5.entity.VideoSort" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sort_name" property="sortName" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_video_sort
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.niit.group5.entity.VideoSort" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_video_sort (sort_name, is_delete)
    values (#{sortName,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.niit.group5.entity.VideoSort" >
    update t_video_sort
    set sort_name = #{sortName,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, sort_name, is_delete
    from t_video_sort
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="videoSort" >
    select id, sort_name
    from t_video_sort
    where is_delete=0
    limit #{currPage},#{pageSize}
  </select>
</mapper>